doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    block css
      link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
      link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet', media='screen')
      link(href='/css/style.css', rel='stylesheet', media='screen')
    block js
      script(src='//code.jquery.com/jquery.js')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content


